<script type="importmap">
    {
        "imports": {
            "i18n": "[% c.url_for("/js/i18n.js?$asset_version") %]",
            "progress-migration": "[% c.url_for("/js/$version/mod/progress-migration.js?$asset_version") %]",
            "lrr-common": "[% c.url_for("/js/$version/mod/common.js?$asset_version") %]",
            "lrr-server": "[% c.url_for("/js/$version/mod/server.js?$asset_version") %]",
            "lrr-perf": "[% c.url_for("/js/$version/mod/perf.js?$asset_version") %]",
            "lrr-reader-crop": "[% c.url_for("/js/$version/mod/reader-crop.js?$asset_version") %]",
            "lrr-reader-chrome": "[% c.url_for("/js/$version/mod/reader-chrome.js?$asset_version") %]",
            "lrr-reader-spread": "[% c.url_for("/js/$version/mod/reader-spread.js?$asset_version") %]",
            "fscreen": "[% c.url_for("/js/$version/vendor/fscreen.esm.js?$asset_version") %]",

            "preact": "[% c.url_for("/js/$version/vendor/preact.module.js?$asset_version") %]",
            "preact/hooks": "[% c.url_for("/js/$version/vendor/hooks.module.js?$asset_version") %]",
            "preact/compat": "[% c.url_for("/js/$version/vendor/compat.module.js?$asset_version") %]",
            "htm": "[% c.url_for("/js/$version/vendor/htm.js?$asset_version") %]",
            "clsx": "[% c.url_for("/js/$version/vendor/clsx.m.js?$asset_version") %]",
            "react-toastify": "[% c.url_for("/js/$version/vendor/react-toastify.esm.js?$asset_version") %]",

            "react": "[% c.url_for("/js/$version/vendor/compat.module.js?$asset_version") %]",
            "react-dom": "[% c.url_for("/js/$version/vendor/compat.module.js?$asset_version") %]",

            "marked": "[% c.url_for("/js/$version/vendor/marked.esm.js?$asset_version") %]",
            "dompurify": "[% c.url_for("/js/$version/vendor/purify.js?$asset_version") %]",

            "sweetalert2": "[% c.url_for("/js/$version/vendor/sweetalert2.esm.min.js?$asset_version") %]"
        }
    }
</script>
